rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /profiles/{userId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid == userId
    }
    
    match /chats/{chatId} {
      allow read: if request.auth.uid in resource.data.user_ids;
      allow create: if request.auth.uid in request.resource.data.user_ids;
      allow update, delete: if request.auth.uid in resource.data.user_ids;
      match /messages/{messageId} {
        allow read: if request.auth.uid == resource.data.from_user_id || request.auth.uid == resource.data.to_user_id;
        allow create: if request.auth.uid == request.resource.data.from_user_id;
        allow update, delete: if request.auth.uid == resource.data.from_user_id;
      }
    }
    match /fcm/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}