rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /profiles/{userId}/images/{filename}{
      allow read: if request.auth.uid == userId;
      // Only allow uploads of any image file that's less than 20MB
      allow write: if request.auth.uid == userId && request.resource.size < 20 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
    }
  }
}
